In [ ]:
1) Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as WORKER_NAME,
Ans:- cursor.execute("select FIRST_NAME as WORKER_NAME from Worker")


2) Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Ans- cursor.execute("select distinct DEPARTMENT from Worker Table")


3) Write an SQL query to show the last 5 record from a table.
Ans: cursor.execute("select * from worker order by id desc limit 2")